internal/c/c_compiler
internal/temp
internal/temp2
internal/temp3
*.o
*.a
*.exe
internal/config.txt
internal/help
internal/config(2).txt
internal/config(1).txt
internal/version.txt
tempfoldersearch.bin
internal/c/mingw32
internal/c/mingw64
internal/c/qbx2.cpp
internal/version.bas
internal/IDEcolor.txt
/run_qb64.sh
/qb64
