# This file is transmogrified into Setup.config by config.status.

# The purpose of this file is to conditionally enable certain modules
# based on configure-time options.

# init system calls(posix/nt/...) for INITFUNC (used by makesetup)
nt posixmodule.c

# This is needed to find out the user's home dir if $HOME is not set
#pwd pwdmodule.c

# Threading
thread threadmodule.c

# The signal module
signal signalmodule.c

# build-in modules for windows platform:
_winreg ../PC/_winreg.c
_functools _functoolsmodule.c	# Tools for working with functions and callable objects
operator operator.c	# operator.add() and similar goodies
_locale _localemodule.c	# -lintl
time timemodule.c
msvcrt ../PC/msvcrtmodule.c

# The rest of the modules previously listed in this file are built
# by the setup.py script in Python 2.1 and later.
