html
{
   background: #e0e0ff no-repeat top right; 
   color: #000000;
   cursor: default; 
   direction: ltr; 
   font: 87.5%/1.5 'lucida sans unicode', 'lucida grande', sans-serif;
}

body
{
    margin-top:10pt;
    margin-right:10pt;
    margin-bottom:10pt;
    margin-left:10pt;
}

img {border: none;}

.big { font-size:200%; }
.reallybig { font-size:300%; }
.center{ text-align:center; }

/*
a:link { color:#FFA100; text-decoration:none; font-weight:bold; }
a:visited { color:#CA8000; text-decoration:none; font-weight:bold; }
a:hover { color:#FFA100; text-decoration:underline; }
a:active { color:#FFFFFF; text-decoration:none; }
*/

h1, h2, h3 {font-family: inherit; color: #330000 }

p { width:90%; text-align:left; margin-left:5%; }
ul { width:80%; text-align:left; margin-left:10%; }

/* 
table { width:90%; text-align:left; margin-left:5%; }

pre { width:90%; text-align:left; margin-left:5%; }
*/

hr { width:80%; }

.boxed {border: 1px solid #666666; padding: .5em;}

.newsblock
{
   background-color: #ccdddd; 
   margin-left:1.5cm; 
   margin-right:1.5cm; 
   padding-bottom: .5em;
}
.newshead { background-color: #000055; padding: 0.5em; font-weight: bold; }
.newshead a:link { color:#FFA100; text-decoration:none; font-weight:bold; }
.newshead a:visited { color:#CA8000; text-decoration:none; font-weight:bold; }
.newshead a:hover { color:#FFA100; text-decoration:underline; }
.newshead a:active { color:#FFFFFF; text-decoration:none; }

.newsdate { color: #ee4400; }
.newstitle { color: #ffffff; }
.newsby { color: #bbbbbb; }

.code { font-family: monospace; }
