0 ICON "qb64.ico"

1 VERSIONINFO
FILEVERSION     2,1,0,0
PRODUCTVERSION  2,1,0,0
BEGIN
    BLOCK "StringFileInfo"
    BEGIN
        BLOCK "040904E4"
        BEGIN
            VALUE "CompanyName","QB64\0"
            VALUE "FileDescription","QB64 Compiler\0"
            VALUE "FileVersion","2.1\0"
            VALUE "InternalName","qb64.bas\0"
            VALUE "LegalCopyright","LGPL\0"
            VALUE "LegalTrademarks","\0"
            VALUE "OriginalFilename","qb64.exe\0"
            VALUE "ProductName","QB64\0"
            VALUE "ProductVersion","2.1\0"
            VALUE "Comments","QB64 is a modern extended BASIC programming language that retains QB4.5/QBasic compatibility and compiles native binaries for Windows, Linux and macOS.\0"
        END
    END

    BLOCK "VarFileInfo"
    BEGIN
        VALUE "Translation", 0x409, 0x04E4
    END
END
